@page "/authors"
@inject SynopsisClient.Model.SynopsisHandler Handler

<h1>Authors</h1>

@if (Handler.Synopsis == null)
{
    <p><em>Loading...</em></p>
}
else
{
<EditForm EditContext="@Handler.CurrentEditContext">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <SynopsisClient.Dialogs.ConfirmDialog Title="Are you sure?"
                                          ShowDialog="_showConfirmDeleteAuthorDialog"
                                          OkText="Yes"
                                          CancelText="No"
                                          OnOkCancelClicked="DeleteAuthorConfirmationOkCancelClicked">
        Deleting an author cannot be cancelled locally.
        <br />
        <em>Note:</em> You can always reload from the cloud by pressing the "Reload from cloud" button
    </SynopsisClient.Dialogs.ConfirmDialog>

    <SynopsisClient.Dialogs.ConfirmDialog Title="Are you sure?"
                                          ShowDialog="Handler.ShowConfirmReloadFromCloudDialog"
                                          OkText="Yes"
                                          CancelText="No"
                                          OnOkCancelClicked="Handler.ReloadFromCloudConfirmationOkCancelClicked">
        <strong style="color:red ">Caution:</strong> If you click yes, you will lose all your local changes.
    </SynopsisClient.Dialogs.ConfirmDialog>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>GitHub</th>
                <th>Twitter</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Handler.Synopsis.Authors)
            {
                <tr>
                    <td><InputText @bind-Value="author.Name" id="name" /></td>
                    <td><InputText @bind-Value="author.Email" id="email" /></td>
                    <td><InputText @bind-Value="author.GitHub" id="github" /></td>
                    <td><InputText @bind-Value="author.Twitter" id="twitter" /></td>
                    <td><button @onclick="@(e => Delete(author))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>

    @*<div class="bottom-buttons">
        <button @onclick="AddAuthor">Add an author</button>
    </div>*@

    <div class="bottom-buttons">
        <button disabled="@Handler.CannotSave" @onclick="Handler.CheckSaveSynopsis">Save local</button>
        <button @onclick="Handler.ReloadFromCloud">Reload from cloud</button>
    </div>
</EditForm>
}
