@using MsGlossaryApp.DataModel;
@page "/authors"
@inject SynopsisClient.Model.SynopsisHandler Handler

<h1>Authors</h1>

@if (synopsis == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>GitHub</th>
                <th>Twitter</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in synopsis.Authors)
            {
                <tr>
                    <td><input @bind="author.Name" /></td>
                    <td><input @bind="author.Email" /></td>
                    <td><input @bind="author.GitHub" /></td>
                    <td><input @bind="author.Twitter" /></td>
                    <td><button @onclick="@(e => Delete(author))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Term synopsis;

    protected override async Task OnInitializedAsync()
    {
        synopsis = await Handler.GetSynopsis();
    }

    private void ToggleEdit(Author author)
    {
        Console.WriteLine(author.Email);
    }

    private void Delete(Author author)
    {
        Console.WriteLine("Deleting " + author.Name);
    }
}
