@page "/authors"

<h2>Authors</h2>

@if (Handler.Synopsis == null
    || Handler.IsReloading)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="intro">

        <p>You have already entered your information when you submitted the form. You can also define additional authors.</p>

        <p>Please follow the rules:</p>

        <ul style="font-weight: bold;">
            <li>You need to define at least one author!</li>
            <li>Each author must have every field filled.</li>
        </ul>

    </div>

    <EditForm EditContext="@Handler.CurrentEditContext">
        <DataAnnotationsValidator />

        <div class="edit-area">

            @foreach (var author in Handler.Synopsis.Authors)
            {
                <div>
                    <label title="Author's name">
                        <span class="form-label">Author name</span>
                        <br />
                        <InputText class="short-input-text"
                                   @bind-Value="author.Name" />
                    </label>
                    <label title="Author's Email address">
                        <span class="form-label">Email</span>
                        <br />
                        <InputText class="short-input-text"
                                   @bind-Value="author.Email" />
                    </label>
                    <label title="Author's GitHub username">
                        <span class="form-label">GitHub</span>
                        <br />
                        <InputText class="short-input-text"
                                   @bind-Value="author.GitHub" />
                    </label>
                    <label title="Author's Twitter username">
                        <span class="form-label">Twitter</span>
                        <br />
                        <InputText class="short-input-text"
                                   @bind-Value="author.Twitter" />
                    </label>
                    <br />
                    <button class="small-button"
                            @onclick="(e => Handler.Delete(author))">
                        Delete
                    </button>
                </div>

                <hr />
            }
        </div>

        <ValidationSummary />

        <div class="bottom-buttons-area">
            <button class="main-button"
                    @onclick="Handler.AddItem">
                Add an author
            </button>
        </div>

        <div class="bottom-buttons-area">
            <button disabled="@Handler.CannotSave"
                    class="main-button"
                    @onclick="Handler.CheckSaveSynopsis">
                Save local
            </button>
            <button class="main-button"
                    @onclick="Handler.ReloadLocal">
                Reload local
            </button>
            <button class="main-button"
                    @onclick="Handler.ReloadFromCloud">
                Reload from cloud
            </button>
        </div>

    </EditForm>
}
