@page "/demos"
@inject SynopsisClient.Model.SynopsisHandler Handler
@inject SynopsisClient.Model.UserManager UserManager
@inject NavigationManager Nav

<h1>Demos</h1>

@if (Handler.Synopsis == null
   || Handler.IsReloading)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="intro">
        <p>We try to illustrate each term with some small "demos" (note the quote signs here...). By this we mean that the demos are not necessarily aimed at showing a technical solution, but rather to illustrate the point you are making. The demos should be short (a few seconds), for example a quick action in the Azure portal, a navigation through some items, some screenshots, etc.</p>

        <p>For "on camera" scenes, you can also add some logos in overlay to make things more interesting.</p>

        <p><a href="https://github.com/lbugnion/ms-glossary/blob/main/instructions/getting-started-synopsis.md#demos" target="_blank">See the notes and examples</a></p>
    </div>

    <EditForm EditContext="@Handler.CurrentEditContext">
        <DataAnnotationsValidator />

        <SynopsisClient.Dialogs.ConfirmDialog Title="Are you sure?"
                                              ShowDialog="Handler.ShowConfirmDeleteItemDialog"
                                              OkText="Yes"
                                              CancelText="No"
                                              OnOkCancelClicked="Handler.DeletItemConfirmationOkCancelClicked">
            <em>Note:</em> You can cancel your local changes by reloading the page <strong>BEFORE</strong> saving.
            <br />
            You can also reload the unchanged synopsis from the cloud.
        </SynopsisClient.Dialogs.ConfirmDialog>

        <SynopsisClient.Dialogs.ConfirmDialog Title="@Handler.ConfirmReloadDialogTitle"
                                              ShowDialog="Handler.ShowConfirmReloadDialog"
                                              OkText="Yes"
                                              CancelText="No"
                                              OnOkCancelClicked="Handler.ReloadConfirmationOkCancelClicked">
            <strong style="color:red ">Caution:</strong> If you click yes, you will lose <strong>all</strong> your local changes.
        </SynopsisClient.Dialogs.ConfirmDialog>

        <div class="edit-area">
            @foreach (var demo in Handler.Synopsis.Demos)
            {
                <div>
                    <label title="Demo description">
                        <span class="form-label">Description</span>
                        <br />
                        <InputText class="medium-input-text"
                                   @bind-Value="demo.Content" />
                    </label>
                    <button class="small-button"
                            @onclick="(e => Handler.Delete(demo))">
                        Delete
                    </button>
                </div>
            }
        </div>

        <ValidationSummary />

        <div class="bottom-buttons-area">
            <button class="main-button"
                    @onclick="Handler.AddItem">
                Add a demo
            </button>
        </div>

        <div class="bottom-buttons-area">
            <button disabled="@Handler.CannotSave"
                    class="main-button"
                    @onclick="Handler.CheckSaveSynopsis">
                Save local
            </button>
            <button class="main-button"
                    @onclick="Handler.ReloadLocal">
                Reload local
            </button>
            <button class="main-button"
                    @onclick="Handler.ReloadFromCloud">
                Reload from cloud
            </button>
        </div>
    </EditForm>
}
