@page "/"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject SynopsisClient.Model.UserManager UserManager

<h1>Microsoft Glossary Synopsis Editor</h1>

<div class="intro">

    <p>Welcome to <a href="http://aka.ms/define">the Microsoft Glossary</a> Synopsis editor.</p>

    <p>This is where you can edit your entry before submitting for review.</p>

    <p>
        Before you start, <a href="https://aka.ms/glossary/getting-started"
                             target="_blank">take a moment to read the instructions</a>. The instructions are also copied into this editor for your convenience.
    </p>

    @if (UserManager.IsLoggedIn)
    {
        <p><strong>Select a section from the navigation menu.</strong></p>

        <p>Note that the new synopsis is into a GitHub "branch". It means that your changes will be into a kind of sandbox and won't affect the rest of the site until you are ready to submit. <a href="https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-branches">More information about GitHub branches</a>.</p>
    }
    else
    {
        <EditForm EditContext="@CurrentEditContext">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="edit-area">
                <label title="Your email address">
                    <span class="form-label">Enter your email address</span>
                    <br />
                    <InputText class="short-input"
                               @bind-Value="UserManager.CurrentUser.Email" />
                </label>
                <label title="The ">
                    <span class="form-label">Synopsis file name</span>
                    <br />
                    <InputText class="short-input"
                               @bind-Value="UserManager.CurrentUser.SynopsisName" />
                </label>
                <br />
                <button class="main-button"
                        disabled="@UserManager.CannotLogIn"
                        @onclick="UserManager.LogIn">
                    Log in
                </button>
            </div>

        </EditForm>
    }

    <p>For questions or support, contact <a href="mailto:ms-glossary-help@microsoft.com">ms-glossary-help@microsoft.com</a></p>

    <button class="main-button"
            disabled="@UserManager.CannotLogOut"
            @onclick="LogOut">
        Log out
    </button>
</div>