@page "/links-docs"
@inject ILogger<LinksToDocs> Log

<h2>Links to Documentation</h2>

@if (Handler.Synopsis == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="intro">
        <p>One of the goals of this project is to drive traffic to the Microsoft documentation (<a href="http://docs.microsoft.com">docs.microsoft.com</a> and <a href="http://learn.microsoft.com">Microsoft Learn</a> pages. For each term, you should provide a list of Documentation links.</p>

        <p>Each link will be instrumented with information allowing us to track the clicks. You don't have to worry about that however. In the synopsis document, simply list the links.</p>

        <p><strong>You need to define at least one link to docs.microsoft.com</strong></p>
    </div>

    <EditForm EditContext="@Handler.CurrentEditContext">
        <DataAnnotationsValidator />

        <div class="edit-area">
            @foreach (var link in Handler.Synopsis.LinksToDocs)
            {
                <div>
                    <label title="Link">
                        <span class="form-label">Link</span>
                        <br />
                        <InputText class="medium-input-text"
                                   @bind-Value="link.EditingUrl" />
                    </label>
                    <button class="small-button"
                            @onclick="(e => Handler.Delete(link))">
                        Delete
                    </button>
                </div>

                <hr />
            }
        </div>

        <ValidationSummary />

        <div class="bottom-buttons-area">
            <button class="main-button"
                    @onclick="Handler.AddItem">
                Add a link
            </button>
        </div>

        <Footer ReloadFromCloudClicked="@ReloadFromCloud" />

    </EditForm>
}
