@page "/personal-notes"
@inject SynopsisClient.Model.SynopsisHandler Handler

<h1>Personal notes</h1>

@if (Handler.Synopsis == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm EditContext="@Handler.CurrentEditContext">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <SynopsisClient.Dialogs.ConfirmDialog Title="Are you sure?"
                                              ShowDialog="_showConfirmDeleteNoteDialog"
                                              OkText="Yes"
                                              CancelText="No"
                                              OnOkCancelClicked="DeleteNoteConfirmationOkCancelClicked">
            Deleting a note cannot be cancelled locally.
            <br />
            <em>Note:</em> You can always reload from the cloud by pressing the "Reload from cloud" button
        </SynopsisClient.Dialogs.ConfirmDialog>

        <SynopsisClient.Dialogs.ConfirmDialog Title="Are you sure?"
                                              ShowDialog="_showConfirmReloadFromCloudDialog"
                                              OkText="Yes"
                                              CancelText="No"
                                              OnOkCancelClicked="ReloadFromCloudConfirmationOkCancelClicked">
            <strong style="color:red ">Caution:</strong> If you click yes, you will lose all your local changes.
        </SynopsisClient.Dialogs.ConfirmDialog>

        <table class="table">
            <tbody>
                @foreach (var note in Handler.Synopsis.PersonalNotes)
                {
                    <tr>
                        <td><InputText @bind-Value="note.Content" /></td>
                        <td><button @onclick="(e => Delete(note))">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>

        @*<div class="bottom-buttons">
                <button @onclick="AddAuthor">Add an author</button>
            </div>*@

        <div class="bottom-buttons">
            <button disabled="@Handler.CannotSave" @onclick="Handler.CheckSaveSynopsis">Save local</button>
            <button @onclick="ReloadFromCloud">Reload from cloud</button>
        </div>
    </EditForm>
}
