@page "/phonetics"
@inject SynopsisClient.Model.SynopsisHandler Handler
@inject SynopsisClient.Model.UserManager UserManager
@inject NavigationManager Nav

<h2>Phonetics</h2>

@if (Handler.Synopsis == null
   || Handler.IsReloading)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="intro">

        <p>Add the phonetics of the word or the expression.</p>

        <p>You can create a phonetics expression at <a href="https://tophonetics.com" target="_blank">https://tophonetics.com</a></p>

        <p><strong>Make sure to select "American" to ensure consistency.</strong></p>

        <p><a href="https://github.com/lbugnion/ms-glossary/blob/main/instructions/getting-started-synopsis.md#phonetics" target="_blank">See the notes</a></p>
    </div>

    <EditForm EditContext="@Handler.CurrentEditContext">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <ConfirmDialog Title="Are you sure?"
                       ShowDialog="Handler.ShowConfirmReloadFromCloudDialog"
                       OkText="Yes"
                       CancelText="No"
                       OnOkCancelClicked="Handler.ReloadFromCloudConfirmationOkCancelClicked">
            <strong style="color:red ">Caution:</strong> If you click yes, you will lose <strong>all</strong> your local changes.
        </ConfirmDialog>

        <div class="edit-area">
            <label title="Term's phonetics transcription">
                <span class="form-label">Phonetics</span>
                <br />
                <InputText class="wide-input"
                           @bind-Value="Handler.Synopsis.Phonetics" />
            </label>
        </div>

        <div class="bottom-buttons-area">
            <button disabled="@Handler.CannotSave"
                    class="main-button"
                    @onclick="Handler.CheckSaveSynopsis">
                Save local
            </button>
            <button class="main-button"
                    @onclick="Handler.ReloadFromCloud">
                Reload from cloud
            </button>
        </div>
    </EditForm>
}
