@page "/title"
@inject ILogger<Title> Log

<h2>Title</h2>

@if (Handler.Synopsis == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="intro">

        <p>You can change the title of this Glossary term here.</p>

        <strong>Note that changing the title does NOT affect the URL of this synopsis.</strong>

    </div>

    <EditForm EditContext="@Handler.CurrentEditContext">
        <DataAnnotationsValidator />

        <div class="edit-area">
            <label title="Term's title">
                <span class="form-label">Term title</span>
                <br />
                <InputText class="medium-input-text"
                           @bind-Value="Handler.Synopsis.Title" />
            </label>

            <hr />
        </div>

        <ValidationSummary />

        <Footer ReloadFromCloudClicked="@Handler.ReloadFromCloud" />

    </EditForm>
}