@page "/title"
@inject SynopsisClient.Model.SynopsisHandler Handler
@inject SynopsisClient.Model.UserManager UserManager
@inject NavigationManager Nav

<h2>Title</h2>

@if (Handler.Synopsis == null
   || Handler.IsReloading)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="intro">

        <p>You can change the title of this Glossary term here.</p>

        <strong>Note that changing the title does NOT affect the URL of this synopsis.</strong>

    </div>

    <EditForm EditContext="@Handler.CurrentEditContext">
        <DataAnnotationsValidator />

        <ConfirmDialog Title="Handler.ConfirmReloadDialogTitle"
                       ShowDialog="Handler.ShowConfirmReloadDialog"
                       OkText="Yes"
                       CancelText="No"
                       OnOkCancelClicked="Handler.ReloadConfirmationOkCancelClicked">
            <strong style="color:red ">Caution:</strong> If you click yes, you will lose <strong>all</strong> your local changes.
        </ConfirmDialog>

        <div class="edit-area">
            <label title="Term's title">
                <span class="form-label">Term title</span>
                <br />
                <InputText class="medium-input-text"
                           @bind-Value="Handler.Synopsis.Title" />
            </label>
        </div>

        <ValidationSummary />

        <div class="bottom-buttons-area">
            <button disabled="@Handler.CannotSave"
                    class="main-button"
                    @onclick="Handler.CheckSaveSynopsis">
                Save local
            </button>
            <button class="main-button"
                    @onclick="Handler.ReloadLocal">
                Reload local
            </button>
            <button class="main-button"
                    @onclick="Handler.ReloadFromCloud">
                Reload from cloud
            </button>
        </div>
    </EditForm>
}
