<div class="card dialog">
    <div class="card-body">
        <p class="card-text">@Message</p>
        <button @onclick="OnOk">@OkText</button>
        <button @onclick="OnCancel">@CancelText</button>
    </div>
</div>
