@if (ShowDialog)
{
    <div class="card" style="width:22rem">
        <div class="card-body">
            <h3 class="card-title">@Title</h3>
            <p class="card-text">@ChildContent</p>
            <button @onclick="OnOk">@OkText</button>
        </div>
    </div>
}
