body {
    margin: 0;
    background-color: white;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

.footer {
    position: fixed;
    left: 215px;
    bottom: 0;
    width: calc(100% - 200px);
    white-space: nowrap;
    border-top: 1px solid #555555;
    padding: 0 0 0 15px;

    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

#azure-logo {
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
}

#topics-bar #title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-right: 20px;
    color: #0078D7;
}

#topics-bar #title a {
    text-decoration: none;
}

#topics-bar #title a:hover {
    text-decoration: none;
}

#topics-bar #title1 {
    font-size: 25px;
}

#topics-bar #title2 {
    font-size: 20px;
}

#topics-bar {
    height: 100%;
    width: 200px;
    padding: 0 0 0 15px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #EEEEEE;
    color: #555555;
}

#topics-bar h1 {
    font-family: 'Times New Roman', Times, serif;
}

#topics-bar ul {
    border-top: 2px groove lightgray;
    margin-right: 15px;
    margin-top: -18px;
}

#topics-bar li {
    margin: 8px 0 8px -15px;
}

#topics-bar a {
    color: #555555;
    text-decoration: none;
}

#topics-bar a:hover {
    color: #555555;
    text-decoration: underline;
}

#main {
    position: fixed;
    top: 0px;
    bottom: 60px;
    left: 215px;
    padding: 0 30px 0 30px;
    overflow-x: hidden;
    width: calc(100% - 275px);
}

#main iframe {
    border: 1px solid #555555;
}

#main h1 {
    font-family: Segoe UI Light, Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#main h2 {
    margin-top: 20px;
}

#main h3 {
    margin-top: -10px;
}

#main ul {
    margin-top: -15px;
    margin-bottom: 30px;
}

#main li {
    margin-bottom: 5px;
}
