body {
    margin: 0;
    background-color: white;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.center {
    margin: auto;
    width: 200px;
}

#logo {
    margin-bottom: -20px;
}

#ms-logo {
    width: 200px;
    margin: 0 0 0 0;
}

#topics-bar #title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #0078D7;
}

#topics-bar #title a {
    text-decoration: none;
}

#topics-bar #title a:hover {
    text-decoration: none;
}

#topics-bar #title1 {
    font-size: 25px;
}

#topics-bar #title2 {
    font-size: 20px;
}

#topics-bar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #EEEEEE;
    color: #555555;
}

#topics-bar h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

#topics-bar ul {
    border-top: 2px groove lightgray;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: -18px;
}

#topics-bar li {
    margin: 8px 0 8px -15px;
}

#topics-bar a {
    color: #555555;
    text-decoration: none;
}

#topics-bar a:hover {
    color: #555555;
    text-decoration: underline;
}

#main {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 215px;
    padding: 0 30px 0 30px;
    overflow-x: hidden;
    width: calc(100% - 275px);
}

#main iframe {
    border: 1px solid #555555;
    margin-bottom: 20px;
}

#main h1 {
    font-family: Segoe UI Light, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
}

#main h1 a {
    font-size: 50px;
    color: #0078D7;
    text-decoration: none;
}

#main h1 a:hover {
    text-decoration: underline;
}

#main a {
    color: #0066B5;
    text-decoration: none;
}

#main a:hover {
    text-decoration: underline;
}

#main h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#main h3 {
    margin-top: 0px;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#intro h1 {
    color: #0078D7;
    font-size: 50px;
    margin-top: 0px;
}

#intro h2 {
    font-family: Segoe UI Light, Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #0078D7;
    margin-bottom: 0px;
    margin-top: -30px;
}

#main ul {
    margin-top: -5px;
    margin-bottom: 30px;
}

#main li {
    margin-bottom: 5px;
}

#main h6 {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    margin-top: -20px;
    margin-bottom: 20px;
}

#main h6 a {
}

#main blockquote {
    border-left: solid #0078D7 10px;
    padding: 1px 0 1px 10px;
    margin-left: 0px;
    background-color: #EEEEEE;
}

#languages {
    color: #0078D7;
    font-weight: bold;
    text-align: center;
}

#languages a {
    color: #0078D7;
    text-decoration: underline;
}

/* Disambiguation */

#main h3 code {
    background-color: lightgray;
}
