@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section headscripts
{
    @*<script src="https://snackables.blob.core.windows.net/@(scriptFolder)/videos.js"></script>
    <script src="https://snackables.blob.core.windows.net/@(scriptFolder)/reference.js"></script>
    <script src="script/handle-videos.js"></script>*@
}

<div class="text-center">

        
    
    
    
    
    
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
