@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Topics {

    @Model.TopicBarHtml
}

<div class="text-center">

    @Model.IndexContent

</div>
