@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Topics {

    @Model.TopicBarHtml
}

<div id="intro">

    <h1>Welcome to Microsoft Azure
    <div id="second-line">Words of the Day</div></h1>

    @Model.IndexContent
</div>

<hr />

<h5>And now here are randomly selected Words of the Day:</h5>

@Model.SelectedTopicHtml