@page "{languageCode}"
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Topics {

    @Model.TopicBarHtml
}

<div id="intro">
    @Model.IndexContent
</div>

@Model.SelectedTopicHtml

<div id="languages">
    @Model.LanguagesHtml
</div>