@page "{languageCode}"
@model IndexModel
@{
    ViewData["PageTitle"] = "Home";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Topics {

    @Model.TopicBarHtml
}

<div id="intro">
    @Model.IndexContentHtml
</div>

@Model.SelectedTopicHtml
