@page "{languageCode}/{fullTopic}"
@model AzureWordsOfTheDay.Pages.TopicModel
@{
    ViewData["PageTitle"] = Model.Topic;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Topics {

    @Model.TopicBarHtml
}

@section Languages {

    <div id="languages">
        @Model.LanguagesHtml
    </div>

}

@Model.TopicHtml

<div id="languages">
    @Model.LanguagesHtml
</div>
