@page "{fullTopic}"
@model AzureWordsOfTheDay.Pages.TopicModel
@{
    ViewData["Title"] = Model.Topic;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Topics {

    @Model.TopicBarHtml
}

<h5>Microsoft Azure Words of the Day presents:</h5>

@Model.TopicHtml

<script src="~/js/postload.js"></script>

<script>
    checkSubtopic("@Model.Subtopic");
</script>